

<div class="center jumbotron">
	<% flash.each do |message_type, message| %>
        <div class="alert alert-danger %>"><%= message %></div>
      <% end %>

  <h1>Welcome to the Exampple</h1>
  
  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

